@model IEnumerable<ShoppingCartPortal.Models.Cart>

@{
    ViewData["Title"] = "Cart";
    decimal totalAmount = 0;
    decimal thisAmount = 0;
}

<h1>Cart (@Model.Count())</h1>
@if (Model.Count() == 0)
{
    <div class="text-danger text-center" style="font-size:50px;">Baba ji, No items into the Cart!</div>
    <p class="text-center">
        <br />
        <a href="/Products/Shop">Continue Shopping!</a>
    </p>
}
else
{
    <a href="/Products/Shop">Continue Shopping!</a>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                thisAmount = (item.Qty * item.Price);
                totalAmount = totalAmount + thisAmount;

                <tr>
                    <td>
                        @item.ProductName <br />
                        <img src="~/Images/@item.ImageName" alt="@item.ProductName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>@thisAmount.ToString("00.00")</td>
                </tr>
            }
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>@totalAmount.ToString("00.00")</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <a href="/Products/Checkout" class="btn btn-success">Checkout</a>
    </div>
}